#collaterals-table > tbody > tr > td {
    height: 90px;
    padding-top: 30px;
    font-size: 18px;
}
#collaterals-table > tbody > tr {
   transition: 0.2s transform;
}
#collaterals-table > tbody >tr:hover{
    transform: scale(1.05) translate(30px); 
}  
.pagination {
    justify-content: center !important;
}
.card-header-title {
    justify-content: space-between !important;
}
#invoice-title {
    display: none;
}
#exceed-warranty-text {
    display: none;
}
/* hiding some content upon printing invoice */
@media print {
    #invoice-title {
        display: block;
    }
    #exceed-warranty-text {
        display: block;
    }
}

#login-card {
    max-width: 400px;
    margin: auto;
}
#register-card {
    max-width: 400px;
    margin: auto;
}